<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nd_excel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application
        android:name=".Util.App"
        android:allowBackup="true"
        android:icon="@drawable/bt"
        android:label="@string/app_new_name_10086"
        android:roundIcon="@mipmap/ic_launcher_round"
        tools:replace="android:label"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.TestActivity"></activity>
        <activity android:name=".Activity.ManuActivity" />
        <activity
            android:name=".Activity.BaseActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>